@tailwind base;

@tailwind components;

@tailwind utilities;

.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

.control-input {
  @apply shadow border rounded w-full py-2 px-3 text-gray-800 leading-tight;
}

.control-input:focus {
  @apply outline-none shadow-outline;
}

.control-input.error {
  @apply border-red-500;
}

.control-section {
  @apply block mb-4;
}

.control-label {
  @apply text-gray-800 text-sm font-bold mb-1;
}

.control-button {
  @apply py-1 px-4 bg-gray-200 border border-indigo-500 font-semibold rounded;
}

.tbl {
  @apply w-full;
}

.tbl th {
  @apply p-3 border-b-2 border-gray-200 text-left;
}

.tbl td {
  @apply border-b border-gray-200 p-2;
}

.page {
  max-width: 800px;
}

.page h2 {
  @apply text-3xl font-bold border-b-4 border-indigo-500 mb-4 leading-tight;
}

.link {
  @apply underline text-indigo-700;
}

.link:hover {
  @apply no-underline;
}